<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./Styles/style.css">
  <title>Students</title>
</head>

<body>
  <header>
    <h1>NY SCHOOL</h1>
    <h2>Students Data</h2>
  </header>
  <table>
    <thead>
      <tr>
        <%for(let i=1;i<keys.length;i++){ %>
          <th>
            <%=keys[i] %>
          </th>
          <% } %>
      </tr>
    </thead>
    <tbody>
      <%for(let i=1;i<data.length;i++){ %>
        <tr>
          <td>
            <%=data[i].id %>
          </td>
          <td>
            <%=data[i].firstName %>
          </td>
          <td>
            <%=data[i].lastName %>
          </td>
          <td>
            <%=data[i].dateOfBirth %>
          </td>
          <td>
            <%=data[i].gender %>
          </td>
          <td>
            <%=data[i].status %>
          </td>
          <td>
            <%=data[i].entry %>
          </td>
          <td>
            <%=data[i].city %>
          </td>
          <td>
            <%=data[i].state %>
          </td>
          <td>
            <%=data[i].zip %>
          </td>
        </tr>
        <% } %>
    </tbody>
  </table>
</body>

</html>